.button {
  color: dodgerblue;
  border-color: #0070f3;
  border-radius: 5px;
  height: 30px;
  width: 11rem;
  padding: 5px;
  border: 1px solid dodgerblue;
  text-align: center;
  background-color: white;
}

.button:hover {
  background: dodgerblue;
  color: white;
}

.cancel {
  color: #fd4c4c;
  border-radius: 5px;
  border-color: #fd4c4c;
  background-color: transparent;
}

.cancel:hover {
  color: white;
  background-color: #fd4c4c;
}
