.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.container div {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.container div div {
  display: flex;
  flex-direction: column;
}

.submit {
  border: 1px solid dodgerblue;
  border-radius: 5px;
  color: white;
  background-color: dodgerblue;
  border-color: dodgerblue;
  width: 4rem;
  height: 2rem;
}

.submit:hover {
  background-color: deepskyblue;
  border: 1px solid deepskyblue;
}

.validationError {
  margin: 0em;
  color: red;
  font-size: small;
}

.textfield {
  border: 1px solid dodgerblue;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

.textfield:hover {
  box-shadow: deepskyblue;
}
