.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.container div {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.container div div {
  display: flex;
  flex-direction: column;
}

.validationError {
  margin: 0em;
  color: red;
  font-size: small;
}
