.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.textfield {
  padding: 5px 0;
}

.submit {
  border: 1px solid dodgerblue;
  border-radius: 5px;
  color: white;
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.submit:hover {
  background-color: green;
  border: 1px solid green;
}
