.container div {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.delete {
  background-color: white;
  border-radius: 5px;
  color: lightcoral;
  border: 1px solid lightcoral;
  width: 4rem;
  height: 2rem;
}

.delete:hover {
  background-color: lightcoral;
  color: white;
}

.submit {
  border: 1px solid dodgerblue;
  border-radius: 5px;
  color: white;
  background-color: dodgerblue;
  border-color: dodgerblue;
  width: 4rem;
  height: 2rem;
}

.submit:hover {
  background-color: green;
  border: 1px solid green;
}
